<section class="section" id="dashboard">
    <div class="container">
        <h6 class="xs-font mb-0">Welcome to your Seen-It Dashboard!</h6>
        <h3 class="section-title pb-4">Dashboard</h3>
    </div>
    <!-- TRY NOT to USE CONTAINER MODEL because IT MESSES CAROUSEL UP!!!!!!!!!!!! - Jacob Linao -->
    <div id="owl-dashboard" class="owl-carousel owl-theme mt-4">
        <a href="javascript:void(0)" class="item expertises-item">
            <img src="assets/imgs/img-1.jpg" alt="placeholder bootstrap template" class="box-shadow">
            <h6 class="mt-3 mb-2">Test Post #1</h6>
            <p class="xs-font">Test post description and stuff here</p>
        </a>
        <a href="javascript:void(0)" class="item expertises-item">
            <img src="assets/imgs/img-2.jpg" alt="placeholder bootstrap template" class="box-shadow">
            <h6 class="mt-3 mb-2">Test Post #2</h6>
            <p class="xs-font">Test post description and stuff here</p>
        </a>
        <a href="javascript:void(0)" class="item expertises-item">
            <img src="assets/imgs/img-3.jpg" alt="placeholder bootstrap template" class="box-shadow">
            <h6 class="mt-3 mb-2">Test Post #3</h6>
            <p class="xs-font">Test post description and stuff here</p>
        </a>
        <a href="javascript:void(0)" class="item expertises-item">
            <img src="assets/imgs/placeholder-1.jpg" alt="placeholder bootstrap template" class="box-shadow">
            <h6 class="mt-3 mb-2">Test Post #4</h6>
            <p class="xs-font">Test post description and stuff here</p>
        </a>
        <a href="javascript:void(0)" class="item expertises-item">
            <img src="assets/imgs/placeholder-1.jpg" alt="placeholder bootstrap template" class="box-shadow">
            <h6 class="mt-3 mb-2">Test Post #5</h6>
            <p class="xs-font">Test post description and stuff here</p>
        </a>
        <a href="javascript:void(0)" class="item expertises-item">
            <img src="assets/imgs/placeholder-1.jpg" alt="placeholder bootstrap template" class="box-shadow">
            <h6 class="mt-3 mb-2">Test Post #6</h6>
            <p class="xs-font">Test post description and stuff here</p>
        </a>
    </div>
</section>