<section class="section" id="posts">
    <div class="container">
        <h6 class="xs-font mb-0">What are people thinking about?</h6>
        <h3 class="section-title">Posts</h3>

        <div id="owl-posts" class="owl-carousel owl-theme mt-4">
            <div class="item">
                <div class="textmonial-item">
                    <img src="assets/imgs/avatar1.jpg" class="avatar" alt="placeholder bootstrap template">
                    <div class="des">
                        <p>My name is Jacob. This section of the webpage is reserved for media posts and more. Might add more here later, idk...</p>

                        <div class="line"></div>
                        <h6 class="name">Jacob T. Linao</h6>
                        <h6 class="xs-font">Full Stack Developer</h6>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="textmonial-item">
                    <img src="assets/imgs/avatar2.jpg" class="avatar" alt="placeholder bootstrap template">
                    <div class="des">
                        <p>My name is Jacob. This section of the webpage is reserved for media posts and more. Might add more here later, idk...</p>

                        <div class="line"></div>
                        <h6 class="name">Other name</h6>
                        <h6 class="xs-font">Person title</h6>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="textmonial-item">
                    <img src="assets/imgs/avatar3.jpg" class="avatar" alt="placeholder bootstrap template">
                    <div class="des">
                        <p>My name is Jacob. This section of the webpage is reserved for media posts and more. Might add more here later, idk...</p>

                        <div class="line"></div>
                        <h6 class="name">Other name</h6>
                        <h6 class="xs-font">Person title</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>