<section class="section" id="blog">

    <div class="container mb-3">
        <h6 class="xs-font mb-0">Best Posts</h6>
        <h3 class="section-title mb-5">Highlights</h3>

        <div class="blog-wrapper">
            <div class="img-wrapper">
                <img src="assets/imgs/img-3.jpg" alt="placeholder bootstrap template">
                <div class="date-container">
                    <h6 class="day">2</h6>
                    <h6 class="mun">Aug</h6>
                </div>
            </div>
            <div class="txt-wrapper">
                <h4 class="blog-title">Test Post #3</h4>
                <p>Me leaving the pot in the sink because "it needs to soak"</p>

                <a href="#" class="badge badge-info">Meme Post</a>

                <h6 class="blog-footer">
                    <!-- THESE ARE PLACEHOLDER. FEEL FREE TO ADD appropriate controllers HERE - Jacob Linao -->
                    <a href="javascript:void(0)"><i class="ti-user"></i> Admin </a> |
                    <a href="javascript:void(0)"><i class="ti-thumb-up"></i> 213 </a> |
                    <a href="javascript:void(0)"><i class="ti-comments"></i> 123</a>
                </h6>
            </div>
        </div>
    </div>
</section>