<section class="section" id="about">

    <div class="container">

        <div class="row align-items-center mr-auto">
            <div class="col-md-4">
                <h3 class="section-title">What is Seen-It?</h3>
                <p>We are Revature's Cohort 23052022. The aim of this project is to recreate a social media platform from scratch. Within this project, basic functions of common social media platform will be available for use. This project is a work in progress.</p>

                <a href="javascript:void(0)">Read more...</a>
            </div>
            <div class="col-sm-6 col-md-4 ml-auto">
                <div class="widget">
                    <div class="icon-wrapper">
                        <i class="ti-calendar"></i>
                    </div>
                    <div class="infos-wrapper">
                        <h4 class="text-primary">Post Number</h4>
                        <p>Number of total posts</p>
                    </div>
                </div>
                <div class="widget">
                    <div class="icon-wrapper">
                        <i class="ti-face-smile"></i>
                    </div>
                    <div class="infos-wrapper">
                        <h4 class="text-primary">Reactions</h4>
                        <p>Number of Reactions</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="widget">
                    <div class="icon-wrapper">
                        <i class="ti-star"></i>
                    </div>
                    <div class="infos-wrapper">
                        <h4 class="text-primary">Engagements</h4>
                        <p>Total number of post engagements</p>
                    </div>
                </div>
                <div class="widget">
                    <div class="icon-wrapper">
                        <i class="ti-user"></i>
                    </div>
                    <div class="infos-wrapper">
                        <h4 class="text-primary">Friends</h4>
                        <p>Total number of friends</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <h6 class="xs-font mb-0">Discover More About Seen-It's Future</h6>
        <h3 class="section-title mb-4">Seen-It Goals</h3>
        <!--NOTE: WHERE IT says jacob638@revature.net, PLEASE KNOW THAT IS JUST PLACEHOLDER!!!!!!!!!!!!!!-->
        <div class="row text-center">
            <div class="col-lg-4">
                <a href="javascript:void(0)" class="card border-0 text-dark">
                    <img class="card-img-top" src="assets/imgs/placeholder-1.png" alt="placeholder bootstrap template">
                    <span class="card-body">
                        <h4 class="title mt-4">Socializing &amp; Sharing</h4>
                        <p class="xs-font">Socialize with Seen-It and share stories!</p>
                    </span>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="javascript:void(0)" class="card border-0 text-dark">
                    <img class="card-img-top" src="assets/imgs/placeholder-1.png" alt="placeholder bootstrap template">
                    <span class="card-body">
                        <h4 class="title mt-4">Exploring with Seen-It</h4>
                        <p class="xs-font">See exciting news and videos from others in the Seen-It community!</p>
                    </span>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="javascript:void(0)" class="card border-0 text-dark">
                    <img class="card-img-top" src="assets/imgs/placeholder-1.png" alt="placeholder bootstrap template">
                    <span class="card-body">
                        <h4 class="title mt-4">Expand with Seen-It</h4>
                        <p class="xs-font">Grow your own community here with Seen-It</p>
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>